.image-1-icon1 {
  position: absolute;
  top: 143px;
  left: 29px;
  width: 1383px;
  height: 854px;
  object-fit: cover;
}
.rectangle-div17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #90caff;
  width: 1440px;
  height: 115px;
}
.name-surname-div1 {
  position: absolute;
  top: 40px;
  left: 1161px;
  display: inline-block;
}
.line-div3,
.line-div4,
.line-div5 {
  position: absolute;
  top: 39px;
  left: 19px;
  border-top: 6px solid #000;
  box-sizing: border-box;
  width: 74px;
  height: 6px;
}
.line-div4,
.line-div5 {
  top: 60px;
}
.line-div5 {
  top: 82px;
}
.rectangle-div18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.49);
  width: 1440px;
  height: 1024px;
}
.rectangle-div19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 552px;
  height: 728px;
}
.home-2-icon {
  position: absolute;
  top: 16px;
  left: 22px;
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.smarthome-div {
  position: absolute;
  top: 68px;
  left: 195px;
  display: inline-block;
}
.line-div6 {
  position: absolute;
  top: 113.5px;
  left: -0.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 551px;
  height: 1px;
}
.rectangle-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #8bc3f6;
  position: absolute;
  top: 187px;
  left: 66px;
  border-radius: 12px;
  width: 420px;
  height: 65px;
}
.st-floor-div {
  position: absolute;
  top: 200px;
  left: 211px;
  font-size: 35px;
  text-align: left;
  display: inline-block;
}
.rectangle-div20 {
  position: absolute;
  top: 299px;
  left: 65px;
  border-radius: 12px;
  background-color: #8bc3f6;
  width: 420px;
  height: 65px;
}
.nd-floor-div {
  position: absolute;
  top: 311px;
  left: 205px;
  font-size: 35px;
  text-align: left;
  display: inline-block;
}
.menu-div {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: Roboto;
}
